svg .country,
svg path.active {
    fill: rgb(80, 80, 80);
    fill-opacity: 0.1;
    stroke: rgb(70, 150, 240);
    stroke-opacity: 0.1;
    stroke-width: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
}

svg .country:hover,
.country.active {
    fill-opacity: 0.3;
    stroke-opacity: 1;
}

.countrylist {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}

.countrylist > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}

.countrylist > div > div {
    display: inline-block;
    width: 48%;
}

.countrylist > div.active {
    font-weight: bold;
    background-color: lightblue;
}

/*svg path:hover,
path.active {
    opacity: 1;
}*/