.assemble {
    border: 2px solid rgba(150, 150, 150, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
    /*    background-color: rgba(100, 100, 100, 0.3);*/
}

.band,
.flavor,
.feature,
.attribute {
    min-width: 300px;
    min-height: 30px;
    margin: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    list-style-type: none;
    border: 2px solid rgba(255, 255, 255, 0.0);
}

.band {
    display: block !important;
    border-radius: 10px;
    background-color: rgb(250, 250, 250)
}

.flavor {
    display: inline-block;
    border-radius: 4px;
}

.flavor:hover {
    border-color: rgba(70, 150, 240, 0.2);
}

.flavor.abstract md-card-header-text {
    color: rgb(190, 190, 190);
}

.feature {
    display: inline-block;
    border-radius: 3px;
    font-size: 90%;
}

.feature:hover {
    border-color: rgba(70, 150, 240, 0.4);
}

.attribute {
    border-radius: 2px;
    display: block;
}

.sub-attribute {
    display: inline;
}

.md-menu button {
    padding: 0px !important;
    margin: 0px !important;
}

md-card-header {
    padding: 0px !important;
    width: 100%;
}

.md-card-header-text:hover,
.md-card-header-text:hover * {
    color: cadetblue;
}

.band .header {
    font-size: 150%;
    font-family: "Segoe UI Semibold";
}

.flavor .header {
    font-size: 110%;
    font-family: "Segoe UI Semibold";
}

.band .total {
    font-size: 70%;
}

.flavor .total {
    font-size: 60%;
}

.feature .icon {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.feature .label {
    width: 44%;
    display: inline-block;
    vertical-align: top;
}

.feature .label.warn {
    color: rgb(220, 50, 50);
}

.feature .value {
    width: 44%;
    display: inline-block;
    vertical-align: top;
    color: rgb(120, 150, 100);
}

.feature .label div {
    /*display: inline-block;*/
    font-size: 70%;
}

.canvas .md-item *:hover {
    color: cornflowerblue;
}

.assemble-warn {
    color: crimson;
}

ddd.dndDragging {
    border: 2px solid rgba(170, 150, 240, 0.8);
}


/*.selected {
    background-color: rgba(200, 100, 100, 0.3);
}*/

.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
    padding: 10px;
}