<div ng-controller="writerController as wrtr">

    <div class="writer" layout="column">

        <div class="title md-primary">{{wrtr.getPlan().name}}</div>

        <h1>Introduction</h1>

        <div>

            Introduction text.

        </div>

        <p>There are {{wrtr.getPlan().Bands.length}} bands in this plan:</p>
        <ol>
            <li ng-repeat="band in wrtr.getPlan().Bands">{{band.name}}</li>
        </ol>

        <div ng-repeat="band in wrtr.getPlan().Bands">

            <h1>{{band.name}}</h1>

            <p>{{band.description}}</p>

            <p>There are {{band.Components.length}} flavors in <i>{{band.name}}</i>:</p>
            <ol>
                <li ng-repeat="component in band.Components">{{component.name}}</li>
            </ol>

            <div ng-repeat="component in band.Components">

                <h2>{{component.name}}</h2>

                <p>{{component.description}}</p>

                <p>There are {{component.Features.length}} features in <i>{{component.name}}</i>:</p>
                <ol>
                    <li ng-repeat="feature in component.Features">{{wrtr.getMasterName(feature)}}</li>
                </ol>

                <div ng-repeat="feature in component.Features">

                    <h3>{{wrtr.getMasterName(feature)}}</h3>

                    <p>{{feature.description}}</p>

                    <p>There are {{wrtr.getTotalAttributes(feature)}} attributes in <i>{{wrtr.getMasterName(feature)}}</i>:</p>
                    <ol>
                        <li ng-repeat="(attributeName,attributeValue) in feature">{{attributeName}}</li>
                    </ol>

                    <div ng-repeat="(attributeName,attributeValue) in feature" ng-show="attribute">

                        <p>{{attributeName}}: {{attributeValue}}.</p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>