<div ng-controller="writerController as cntrl">

    <div class="writer" layout="column">

        <md-button class="md-primary md-raised" 
                   ng-disabled="false" 
                   ng-click="cntrl.generate($event)">

            <md-icon md-svg-icon="gui:save"></md-icon>
            <md-tooltip>Export BRD</md-tooltip>
            Export

        </md-button>
                    
        <div class="title md-primary">{{cntrl.getPlan().name}}</div>

        <h1>Introduction</h1>

        <div>

            Introduction text.

        </div>

        <p>There are {{cntrl.getPlan().Bands.length}} bands in this plan:</p>
        <ol>
            <li ng-repeat="band in cntrl.getPlan().Bands">{{band.name}}</li>
        </ol>
        
        <div ng-repeat="band in cntrl.getPlan().Bands">

            <h1>{{band.name}}</h1>

            <p>{{band.description}}</p>

            <p>There are {{band.Flavors.length}} flavors in <i>{{band.name}}</i>:</p>
            <ol>
                <li ng-repeat="flavor in band.Flavors">{{flavor.name}}</li>
            </ol>

            <div ng-repeat="flavor in band.Flavors">

                <h2>{{flavor.name}}</h2>

                <p>{{flavor.description}}</p>

                <p>There are {{flavor.Features.length}} features in <i>{{flavor.name}}</i>:</p>
                <ol>
                    <li ng-repeat="feature in flavor.Features">{{cntrl.getMasterName(feature)}}</li>
                </ol>

                <!--<div ng-repeat="feature in flavor.Features">

                    <h3>{{cntrl.getMasterName(feature)}}</h3>

                    <p>{{feature.description}}</p>

                    <p>There are {{cntrl.getTotalAttributes(feature)}} attributes in <i>{{cntrl.getMasterName(feature)}}</i>:</p>
                    <ol>
                        <li ng-repeat="(attributeName,attributeValue) in feature">{{attributeName}}</li>
                    </ol>

                    <div ng-repeat="(attributeName,attributeValue) in feature" ng-show="attribute">

                        <p>{{attributeName}}: {{attributeValue}}.</p>

                    </div>

                </div>-->

            </div>

        </div>

    </div>

</div>