.iconAccount {
    background-image: url('property-icons/Account.svg');
}

.iconAdd-on {
    background-image: url('property-icons/Add-on.svg');
}

.iconBasePlan {
    background-image: url('property-icons/BasePlan.svg');
}

.iconBundle {
    background-image: url('property-icons/Bundle.svg');
}

.iconCallFreebees {
    background-image: url('property-icons/CallFreebees.svg');
}

.iconCallTariff {
    background-image: url('property-icons/CallTariff.svg');
}

.iconChangeArrow {
    background-image: url('property-icons/ChangeArrow.svg');
}

.iconChangeFlavor {
    background-image: url('property-icons/ChangeFlavor.svg');
}

.iconCharge {
    background-image: url('property-icons/Charge.svg');
}

.iconConstraint {
    background-image: url('property-icons/Constraint.svg');
}

.iconContract {
    background-image: url('property-icons/Contract.svg');
}

.iconCredit {
    background-image: url('property-icons/Credit.svg');
}

.iconDataFreebees {
    background-image: url('property-icons/DataFreebees.svg');
}

.iconDataTariff {
    background-image: url('property-icons/DataTariff.svg');
}

.iconDevice {
    background-image: url('property-icons/Device.svg');
}

.iconDownArrow {
    background-image: url('property-icons/DownArrow.svg');
}

.iconEndArrow {
    background-image: url('property-icons/EndArrow.svg');
}

.iconFile {
    background-image: url('property-icons/File.svg');
}

.iconInfo {
    background-image: url('property-icons/Info.svg');
}

.iconInquiry {
    background-image: url('property-icons/Inquiry.svg');
}

.iconLeftArrow {
    background-image: url('property-icons/LeftArrow.svg');
}

.iconMessageFreebees {
    background-image: url('property-icons/MessageFreebees.svg');
}

.iconMessageTariff {
    background-image: url('property-icons/MessageTariff.svg');
}

.iconMigrate {
    background-image: url('property-icons/Migrate.svg');
}

.iconMigration {
    background-image: url('property-icons/Migration.svg');
}

.iconNotification {
    background-image: url('property-icons/Notification.svg');
}

.iconProject {
    background-image: url('property-icons/Project.svg');
}

.iconProvisioning {
    background-image: url('property-icons/Provisioning.svg');
}

.iconReport {
    background-image: url('property-icons/Report.svg');
}

.iconRewards {
    background-image: url('property-icons/Rewards.svg');
}

.iconRightArrow {
    background-image: url('property-icons/RightArrow.svg');
}

.iconSimCard {
    background-image: url('property-icons/SimCard.svg');
}

.iconSquare {
    background-image: url('property-icons/Square.svg');
}

.iconSquareAim {
    background-image: url('property-icons/SquareAim.svg');
}

.iconSquareDashed {
    background-image: url('property-icons/SquareDashed.svg');
}

.iconStakeholder {
    background-image: url('property-icons/Stakeholder.svg');
}

.iconSubscribe {
    background-image: url('property-icons/Subscribe.svg');
}

.iconSupport {
    background-image: url('property-icons/Support.svg');
}

.iconUnsubscribe {
    background-image: url('property-icons/Unsubscribe.svg');
}

.iconUpArrow {
    background-image: url('property-icons/UpArrow.svg');
}

.iconXor {
    background-image: url('property-icons/Xor.svg');
}