<!doctype html>
<html>

<head>

    <meta charset="utf-8">

    <title>Product Designer</title>

    <link href="telecom-services.css" media="screen" rel="stylesheet" type="text/css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/1.3.0/angular-drag-and-drop-lists.min.js"></script>
    <script src="properties_attributes.js"></script>
    <script src="plan_designer.js"></script>
    <script src="app-module.js"></script>
    <script src="filters.js"></script>
    <script src="stencil-controller.js"></script>

    <script>
        //alert("Loaded " + properties_attributes.length + " properties.");
    </script>

</head>

<body>

    <aside ng-app="stencilApp" ng-controller="stencilController" id="masters-panel" class="panel">
<!--
        <div>
            <b>Invoice:</b>
            <div> Quantity:
                <input type="number" min="0" ng-model="qty">
            </div>
            <div> Costs:
                <input type="number" min="0" ng-model="cost">
            </div>
            <div>
                <b>Total:</b> {{qty * cost | currency}}
            </div>
        </div>
-->

        <p>Drag an item and drop it onto the canvas:</p>

        <ul id="masters" class="component">

            <li ng-repeat="property in properties" class="master property {{property.Icon | icon_file}}">
                {{ property.Property }}
            </li>

        </ul>

    </aside>

    <summary>

        <p>Plan Name</p>
        <div>Brief of the Plan</div>

    </summary>

    <footer>

        <div id="generate-brd">Write BRD</div>

    </footer>

</body>

</html>