<md-sidenav class="md-sidenav-left Xmd-whiteframe-z2" 
            layout="column" 
            md-component-id="masters" 
            md-is-locked-open="$mdMedia('gt-sm')&&cntrl.isDocked('masters')">

    <md-toolbar class="md-theme-light">

        <div class="md-toolbar-tools md-headline">Masters</div>

    </md-toolbar>

    <md-tabs md-border-bottom 
             md-dynamic-height>

        <md-tab label="{{group.name}}" 
                ng-repeat="group in cntrl.getGroups()" 
                ng-click="selected.item=group;selected.type='group'">

            <section ng-repeat="collection in group.Collections" 
                     ng-click="selected.item=collection;selected.type='collection'">

                <md-subheader class="collection">
                    {{collection.name}}
                </md-subheader>

                <md-list class="masters" 
                         dnd-list="collection.Properties" 
                         dnd-allowed-types="['master']">

                    <md-item class="master md-button md-raised" 
                             ng-repeat="master in collection.Masters" 
                             ng-click="cntrl.selectMaster(group.name,collection.name,master)" 
                             ng-class="{'selected':selected.item===master}" 
                             dnd-draggable="master" 
                             dnd-type="'master'" 
                             dnd-effect-allowed="move" 
                             dnd-selected="selected.item=master;selected.type='master'" 
                             dnd-moved="collection.Properties.splice($index,1)" 
                             aria-label="{{master.Property}}">

                        <md-icon class="master-icon" 
                                 md-svg-icon="{{master.name | icon_provider}}" >
                        </md-icon>

                        <md-tooltip ng-if="master.description">{{master.description}}</md-tooltip>

                        <span>{{master.name}}</span>

                    </md-item>

                    <md-item class="master dndPlaceholder md-button md-raised"
                             aria-label="{{selected.item.name}}">

                        <md-icon class="avatar" 
                                 md-svg-icon="{{selected.item.name | icon_provider}}">
                        </md-icon>

                        <span>{{selected.item.name}}</span>

                    </md-item>

                </md-list>

            </section>

        </md-tab>

    </md-tabs>

</md-sidenav>