/*md-sidenav.md-sidenav-left,
md-sidenav.md-sidenav-left.md-locked-open,
md-sidenav.md-sidenav-left.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
}*/

.master {
    width: 140px;
    box-sizing: border-box;
    /*float: left;*/
    display: inline-block;
    text-transform: none;
    text-align: left;
}

.master:hover {
    color: darkgreen;
}

.masters.dndDragover {
    /*border: 2px solid rgb(255, 150, 0);*/
}

.master.dndDraggingSource {
    display: none;
}

.master.dndDragging * {
    color: deeppink;
}

.master.dndPlaceholder {
    opacity: 0.5;
}