<md-toolbar flex 
            layout="row" 
            layout-align="start center" 
            class="navigation md-hue-2" 
            ng-controller="navigationController as cntrl">
    
    <md-button class="menu" 
               ng-click="cntrl.toggleSidenav('plans')" 
               aria-label="Toggle Plans">
        
        <md-icon md-svg-icon="gui:stand"></md-icon>
        <md-tooltip>Plans panel</md-tooltip>
        
    </md-button>
    
    <md-button class="menu" 
               ng-click="cntrl.toggleSidenav('masters')" 
               aria-label="Toggle Masters">
        
        <md-icon md-svg-icon="gui:rect"></md-icon>
        <md-tooltip>Masters panel</md-tooltip>
        
    </md-button>
    
    <md-progress-circular md-mode="{{(cntrl.isBusy()?'indeterminate':'')}}" ng-if="cntrl.isBusy()"></md-progress-circular>
    
    <div class="md-headline" style="font-family:'Segoe UI Light'" layout-align-gt-sm="center" ng-if="!cntrl.isBusy()">
        {{cntrl.getTitle()}}
    </div>
    
    <div flex></div>
    
    <md-button ng-click="cntrl.changeMode()">
        
        <md-icon style="width:48px;height:48px" md-svg-icon="logo"></md-icon>
        <md-tooltip>Change Mode</md-tooltip>
        
    </md-button>
    
    <md-button class="menu" 
               ng-click="cntrl.toggleSidenav('properties')" 
               aria-label="Toggle Properties">
        
        <md-icon md-svg-icon="gui:rect"></md-icon>
        <md-tooltip>Properties panel</md-tooltip>
        
    </md-button>
    
</md-toolbar>