<md-toolbar flex 
            layout="row" 
            layout-align="start center" 
            class="md-hue-2" 
            ng-controller="navigationController as cntrl">
    
    <md-button class="menu" 
               ng-click="cntrl.toggleSidenav('masters')" 
               hide-gt-sm 
               aria-label="Toggle Masters">
        
        <md-icon md-svg-icon="apps"></md-icon>
        <md-tooltip>Show/hide masters panel</md-tooltip>
        
    </md-button>    
    
    <md-button ng-click="cntrl.changeMode()">
        
        <md-icon style="width:48px;height:48px" md-svg-icon="logo"></md-icon>
        <md-tooltip>Change Mode</md-tooltip>
        
    </md-button>
    
    <!--<div flex="15"></div>-->
    
    <div class="md-headline" style="font-family:'Segoe UI Light'" layout-align-gt-sm="center">
        Plans Designer
    </div>
    
    <span flex></span>
    
    <md-button class="menu" 
               ng-click="cntrl.toggleSidenav('properties')" 
               hide-gt-xl 
               aria-label="Toggle Properties">
        
        <md-icon md-svg-icon="lines"></md-icon>
        <md-tooltip>Show/hide properties panel</md-tooltip>
        
    </md-button>
    
</md-toolbar>