<md-sidenav class="md-sidenav-left"
            flex-sm="100"
            layout="column" 
            md-component-id="stencil" 
            md-is-locked-open="$mdMedia('sm')">
    
    <md-list class="masters" 
             ng-controller="stencilController as cntrl"
             dnd-list="stencil.masters"
             dnd-allowed-types="['master']">
        
        <md-item class="master"
                 ng-repeat="master in stencil.masters" 
                 dnd-draggable="master" 
                 dnd-type="'master'"
                 dnd-effect-allowed="move" 
                 dnd-selected="stencil.selectedMaster=master" 
                 dnd-moved="stencil.masters.splice($index,1)">
            
            <md-button class="md-raised" 
                       ng-click="stencil.selectedMaster=master" 
                       ng-class="{'selected':stencil.selectedMaster===master}" 
                       aria-label="{{master.Icon}}">
                
                <md-icon md-svg-icon="{{master.Icon | icon_provider}}"></md-icon>
                {{master.Icon}}
                
            </md-button>
            
        </md-item>
        
        <md-item class="master dndPlaceholder">
            
            <md-button class="master md-raised" 
                       aria-label="{{stencil.selectedMaster.Icon}}">
                
                <md-icon md-svg-icon="{{stencil.selectedMaster.Icon | icon_provider}}" class="avatar"></md-icon>
                {{stencil.selectedMaster.Icon}}
                
            </md-button>
            
        </md-item>
        
    </md-list>
    
</md-sidenav>