<md-content flex ng-controller="manufactureController as cntrl">

    <div layout="row">

        <md-item class="master md-button md-raised" 
                 layout="row" 
                 layout-align="start center" 
                 ng-show="true"
                 ng-click="cntrl.selectMaster();selected.item=cntrl.getEditMaster();selected.type='master'">

            <md-icon class="master-icon" md-svg-icon="{{cntrl.getEditMaster().icon}}"></md-icon>

            <span>{{cntrl.getEditMaster().name}}</span>

        </md-item>

        <md-checkbox class="md-fab md-mini" ng-model="cntrl.autoEditSelectedMaster" ng-click="cntrl.editSelectedMaster(!cntrl.autoEditSelectedMaster)" aria-label="Edit Selected" title="Edit Selected Master">
            <md-tooltip>Edit Selected Master</md-tooltip>
        </md-checkbox>

        <span flex="5"></span>

        <md-button class="md-fab md-mini md-primary md-raised md-hue-1" ng-click="cntrl.revertMaster($event)" aria-label="Revert Master"  ng-disabled="!cntrl.isMasterDirty()">
            <md-icon md-svg-icon="gui:undo" aria-label="Revert Master"></md-icon>
            <md-tooltip>Revert Master</md-tooltip>
        </md-button>

        <md-button class="md-fab md-mini md-primary md-raised md-hue-1" ng-click="cntrl.saveMaster($event)" aria-label="Save Master"  ng-disabled="!cntrl.isMasterDirty()">
            <md-icon md-svg-icon="gui:save" aria-label="Save Master"></md-icon>
            <md-tooltip>Save Master</md-tooltip>
        </md-button>

        <md-button class="md-fab md-mini md-primary md-raised md-hue-1" ng-click="cntrl.newMaster($event)" aria-label="New Master">
            <md-icon md-svg-icon="gui:brick" aria-label="New Master"></md-icon>
            <md-tooltip>New Master</md-tooltip>
        </md-button>

        <md-button class="md-fab md-mini md-primary md-raised md-hue-1" ng-click="cntrl.addAttribute($event)" aria-label="Add Attribute">
            <md-icon md-svg-icon="gui:add" aria-label="Add Attribute"></md-icon>
            <md-tooltip>Add Attribute</md-tooltip>
        </md-button>

        <md-button class="md-fab md-mini md-primary md-raised md-hue-1" ng-click="cntrl.deleteMaster($event)" aria-label="Delete Master">
            <md-icon md-svg-icon="gui:delete" aria-label="Delete Master"></md-icon>
            <md-tooltip>Delete Master</md-tooltip>
        </md-button>

    </div>
    



    <md-list layout="column" 
             dnd-list="cntrl.getEditMaster().Attributes.items" 
             dnd-allowed-types="['edit-attribute']">
        
        <md-item class="edit-attribute" 
                 layout="row" 
                 layout-align="start center" 
                 ng-click="cntrl.editAttribute(attribute)" 
                 ng-repeat="attribute in cntrl.getEditMaster().Attributes.items"
                 dnd-draggable="attribute" 
                 dnd-type="'edit-attribute'" 
                 dnd-effect-allowed="move" 
                 dnd-selected="selected.item=attribute;selected.type='attribute'" 
                 dnd-moved="cntrl.getEditMaster().Attributes.items.splice($index,1)">
            
            <table class="properties" style="width:345px;margin-left:10px">
                
                <tr ng-repeat="property in [attribute]" 
                    ng-include="'property-'+(property.format==='object-json'?'json':(property.format.indexOf('array-')>=0?'options':(property.type==='object'||property.type==='array'?'group':(property.enum!==undefined?'choice':(property.format==='date-time'?'date':property.type)))))+'.html'"></tr>
            
            </table>
    
            <md-button ng-click="cntrl.deleteAttribute($event,attribute,$index)" aria-label="Delete Attribute">
            
                <md-icon md-svg-icon="gui:delete"></md-icon>
                <md-tooltip>Delete Attribute</md-tooltip>
                
            </md-button>

        </md-item>

        <md-item class="dndPlaceholder">

            <div style="width:340px;height:3px;background-color:#158FD0;border-width:10px 3px;border-color:white #158FD0;border-style:solid"></div>

        </md-item>

    </md-list>
    
</md-content>