<md-content flex ng-controller="manufactureController as cntrl">

    <md-toolbar layout="row" class="md-theme-light">

        <div class="fab-size" layout="row">
        <md-fab-speed-dial md-open="false" md-direction="right" class="md-scale">
            <md-fab-trigger>

                <md-button class="md-fab md-mini md-primary md-raised" style="box-shadow:none;transform:scale(1.3)" aria-label="Master Options"> 
                    <md-icon md-svg-src="3dots"></md-icon>
                    <md-tooltip>Master Options</md-tooltip>
                </md-button>

            </md-fab-trigger>

            <md-fab-actions>

                <md-button class="md-fab md-mini md-primary md-raised md-hue-1" ng-click="cntrl.addBand(plan)" aria-label="New Master">
                    <md-icon md-svg-src="brick" aria-label="New Master"></md-icon>
                    <md-tooltip>New Master</md-tooltip>
                </md-button>

                <md-button class="md-fab md-mini md-primary md-raised md-hue-1" ng-click="cntrl.saveMaster()" aria-label="Save Master">
                    <md-icon md-svg-src="save" aria-label="Save Master"></md-icon>
                    <md-tooltip>Save Master</md-tooltip>
                </md-button>

                <md-button class="md-fab md-mini md-primary md-raised md-hue-1" ng-click="cntrl.addAttribute()" aria-label="Add Attribute">
                    <md-icon md-svg-src="add" aria-label="Add Attribute"></md-icon>
                    <md-tooltip>Add Attribute</md-tooltip>
                </md-button>

            </md-fab-actions>

        </md-fab-speed-dial>
        </div>

            <div layout="column" flex>

                <div style="font-family:'Segoe UI Light';font-size:150%" layout-align-gt-sm="center">
                Editing Master: <b>{{cntrl.getEditMaster().name}}</b>
                </div>

            </div>

        <!--<div style="font-family:'Segoe UI Light';font-size:150%" layout-align-gt-sm="center">
            Editing Master: <b>{{cntrl.getEditMaster().name}}</b>
        </div>-->
        
        <!--<span flex></span>
        
        <md-button ng-click="cntrl.saveMaster()" ng-disabled="cntrl.isMasterDirty()" aria-label="Save Master">
            
            <md-icon md-svg-icon="save"></md-icon>
            <md-tooltip>Save Master</md-tooltip>
            
        </md-button>
        
        <md-button ng-click="cntrl.newMaster()" aria-label="New Master">
            
            <md-icon md-svg-icon="brick"></md-icon>
            <md-tooltip>New Master</md-tooltip>
            
        </md-button>    
        
        <md-button ng-click="cntrl.addAttribute()" aria-label="Add Attribute">

            <ng-md-icon icon="playlist_add"></ng-md-icon>
            <md-tooltip>Add Attribute</md-tooltip>
            
        </md-button>-->
        
    </md-toolbar>
    
    <md-item class="master md-button md-raised" 
             layout="row" 
             layout-align="start center" 
             ng-show="true"
             ng-click="cntrl.selectMaster()">
        
        <md-icon class="master-icon" md-svg-icon="{{cntrl.getEditMaster().name | icon_provider}}"></md-icon>
        
        <span>{{cntrl.getEditMaster().name}}</span>
        
    </md-item>

    <md-list layout="column" 
             dnd-list="cntrl.getEditMaster().Attributes.properties" 
             dnd-allowed-types="['edit-attribute']">
        
        <md-item class="edit-attribute" 
                 layout="row" 
                 layout-align="start center" 
                 ng-click="cntrl.editAttribute(attribute)" 
                 ng-repeat="attribute in cntrl.getEditMaster().Attributes.properties"
                 dnd-draggable="attribute" 
                 dnd-type="'edit-attribute'" 
                 dnd-effect-allowed="move" 
                 dnd-selected="selected.item=master;selected.type='master'" 
                 dnd-moved="cntrl.getEditMaster().Attributes.properties.splice($index,1)">
            
            <div flex="40" ng-repeat="property in [attribute]" ng-include="'property-'+property.type+'.html'"></div>

            <span flex="5"></span>
            
            <md-button ng-click="cntrl.deleteAttribute(attribute)" aria-label="Delete Attribute">
            
                <md-icon md-svg-icon="delete"></md-icon>
                <md-tooltip>Delete Attribute</md-tooltip>
                
            </md-button>

        </md-item>

    </md-list>
    
</md-content>