.iconAccount {
    background-image: url('icons/property/Account.svg');
}

.iconAdd-on {
    background-image: url('icons/property/Add-on.svg');
}

.iconBasePlan {
    background-image: url('icons/property/BasePlan.svg');
}

.iconBundle {
    background-image: url('icons/property/Bundle.svg');
}

.iconCallFreebees {
    background-image: url('icons/property/CallFreebees.svg');
}

.iconCallTariff {
    background-image: url('icons/property/CallTariff.svg');
}

.iconChangeArrow {
    background-image: url('icons/property/ChangeArrow.svg');
}

.iconChangeFlavor {
    background-image: url('icons/property/ChangeFlavor.svg');
}

.iconCharge {
    background-image: url('icons/property/Charge.svg');
}

.iconConstraint {
    background-image: url('icons/property/Constraint.svg');
}

.iconContract {
    background-image: url('icons/property/Contract.svg');
}

.iconCredit {
    background-image: url('icons/property/Credit.svg');
}

.iconDataFreebees {
    background-image: url('icons/property/DataFreebees.svg');
}

.iconDataTariff {
    background-image: url('icons/property/DataTariff.svg');
}

.iconDevice {
    background-image: url('icons/property/Device.svg');
}

.iconDownArrow {
    background-image: url('icons/property/DownArrow.svg');
}

.iconEndArrow {
    background-image: url('icons/property/EndArrow.svg');
}

.iconFile {
    background-image: url('icons/property/File.svg');
}

.iconInfo {
    background-image: url('icons/property/Info.svg');
}

.iconInquiry {
    background-image: url('icons/property/Inquiry.svg');
}

.iconLeftArrow {
    background-image: url('icons/property/LeftArrow.svg');
}

.iconMessageFreebees {
    background-image: url('icons/property/MessageFreebees.svg');
}

.iconMessageTariff {
    background-image: url('icons/property/MessageTariff.svg');
}

.iconMigrate {
    background-image: url('icons/property/Migrate.svg');
}

.iconMigration {
    background-image: url('icons/property/Migration.svg');
}

.iconNotification {
    background-image: url('icons/property/Notification.svg');
}

.iconProject {
    background-image: url('icons/property/Project.svg');
}

.iconProvisioning {
    background-image: url('icons/property/Provisioning.svg');
}

.iconReport {
    background-image: url('icons/property/Report.svg');
}

.iconRewards {
    background-image: url('icons/property/Rewards.svg');
}

.iconRightArrow {
    background-image: url('icons/property/RightArrow.svg');
}

.iconSimCard {
    background-image: url('icons/property/SimCard.svg');
}

.iconSquare {
    background-image: url('icons/property/Square.svg');
}

.iconSquareAim {
    background-image: url('icons/property/SquareAim.svg');
}

.iconSquareDashed {
    background-image: url('icons/property/SquareDashed.svg');
}

.iconStakeholder {
    background-image: url('icons/property/Stakeholder.svg');
}

.iconSubscribe {
    background-image: url('icons/property/Subscribe.svg');
}

.iconSupport {
    background-image: url('icons/property/Support.svg');
}

.iconUnsubscribe {
    background-image: url('icons/property/Unsubscribe.svg');
}

.iconUpArrow {
    background-image: url('icons/property/UpArrow.svg');
}

.iconXor {
    background-image: url('icons/property/Xor.svg');
}