@import "property-icons.css";

/* Hide when Angular is not yet loaded and initialized */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

body {
    margin: 0;
    font-family: "Segoe UI";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Properties panel */

.Master {
    width: 44%;
    text-transform: none;
    text-align: left;
    box-sizing: border-box;
}

.panel {
    position: absolute;
    top: 80px;
    left: 2px;
    padding: 0.5em;
    border: 2px solid rgba(90, 100, 150, 0.5);
    border-radius: 5px;
    float: left;
    box-sizing: content-box;
}

.panel p:first-child {
    font-size: 0.8em;
    font-style: italic;
    color: rgba(100, 100, 100, 1.0);
}

#masters-panel {
    width: 25em;
}

.component {
    background-color: beige;
    list-style-type: none;
    padding: 0;
    float: left;
}

.property,
ul[dnd-list] .dndPlaceholder {
    width: 48%;
    height: 4em;
    background-color: cornsilk;
    background-position: left top;
    background-size: auto 60%;
    background-repeat: no-repeat;
    border-color: deepskyblue;
    border-width: 0px;
    margin: 0.2em;
    padding: 0.5em 0.5em 0.5em 2.5em;
    float: left;
    box-sizing: border-box;
}

.property:hover {
    border: 2px solid cornflowerblue;
}


/* Canvas */

.canvas {
    border: 2px solid rgba(150, 150, 150, 0.5);
    border-radius: 5px;
    color: darkseagreen;
    box-sizing: border-box;
}


/*
body {
    background: #004756;
    color: #fff;
}
*/

.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
    padding: 10px;
}

#main-canvas {
    min-height: 100em;
}

.master-icon {
    width: 3em;
    height: 3em;
    vertical-align: text-top;
}

ul[dnd-list],
ul[dnd-list] > li,
*[dnd-list],
dnd-draggable > *[dnd-draggable] {
    position: relative;
}

ul[dnd-list] .dndDraggingSource,
*[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder,
*[dnd-list] .dndPlaceholder {
    /*display: none;*/
    background-color: darkseagreen;
}

ul[dnd-list] li.selected,
*[dnd-list] .selected {
    /* Show selected elements in green */
    background-color: #dff0d8;
    color: #3c763d;
}

pre {
    font-size: xx-small;
}

footer {
    width: 100%;
    /* center horizontally */
    margin: auto;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}