@import "property-icons.css";

/* Hide when Angular is not yet loaded and initialized */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

input,
textarea,
select,
button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.highlightable {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

body {
    margin: 0;
    font-family: "Segoe UI";
}

pre {
    font-size: xx-small;
}

[dnd-list],
[dnd-draggable] {
    position: relative;
}

.md-scale:not(.md-is-open) .md-fab-action-item {
    opacity: 0;
}

.fab-size {
    min-width: 70px;
    min-height: 70px;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.fab-size-mini {
    min-width: 60px;
    min-height: 50px;
    width: 60px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.view-animate-container {
    position: relative;
    height: 100% !important;
    background: white;
    /*overflow: hidden;*/
}

.view-animate.ng-enter,
.view-animate.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}