/*md-sidenav.md-sidenav-right,
md-sidenav.md-sidenav-right.md-locked-open,
md-sidenav.md-sidenav-right.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
}*/

md-input-container:not(.md-input-invalid).md-input-has-value .md-input {
    border-color: rgb(122, 148, 14);
}

md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: rgb(122, 148, 14);
}

.property {
    margin-bottom: 15px;
    margin-top: 12px;
    width: 96%;
    display: inline-block;
    /*border: 2px solid rgba(0, 155, 255, 0.6);*/
}

.property.group {
    margin-left: 15px;
}

.property-description {
    color: grey;
    /*padding-top: 34px;*/
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.property-description.ng-hide,
.property-description.ng-enter,
.property-description.ng-leave.ng-leave-active {
    opacity: 0;
}

.property-description.ng-leave,
.property-description.ng-enter.ng-enter-active {
    opacity: 1;
}