<script type="text/ng-template" id="property-selector.html">
    
    <md-item ng-include="'property-'+(property.type==='object'||property.type==='array'?'group':(property.enum!==undefined?'choice':(property.format==='date-time'?'date':property.type)))+'.html'"></md-item>
    
</script>



<script type="text/ng-template" id="property-.html">
    
    <div>Nothing selected. No properties to show.</div>
    
</script>



<script type="text/ng-template" id="property-group.html">
    
    <md-list class="property group"
             layout="column" 
             layout-align="start start" >
        
        <div class="md-subhead">{{property.title}}</div>
        <p class="md-body-1">{{property.description}}</p>
        
        <div layout="column">
            
            <md-item ng-repeat="property in (property.type==='object'?property.properties:property.items)" 
                     ng-include="'property-selector.html'">
                
            </md-item>
            
        </div>
        
    </md-list>
    
</script>



<script type="text/ng-template" id="property-string.html">
     
    <md-input-container class="md-block property string">
         
        <label>{{property.title}}</label>
        
        <input required ng-model="property.value" md-maxlength="{{property.maxLength}}" />
        
        <div class="md-caption property-description">{{property.description}}</div>
         
    </md-input-container>

</script>



<script type="text/ng-template" id="property-choice.html">
     
    <md-input-container class="md-block property choice">
         
        <label>{{property.title}}</label>
        
        <md-select ng-model="property.value" ng-if="property.enum!==undefined">
            
            <md-option ng-repeat="option in property.enum" value="{{option}}">
            {{option}}
            </md-option>
            
        </md-select>
        
        <div class="md-caption property-description">{{property.description}}</div>
         
    </md-input-container>

</script>



<script type="text/ng-template" id="property-number.html">
     
    <md-input-container class="md-block property number">
         
         <label>{{property.title}}</label>
        
         <input type="number" ng-model="property.value" step="any" min="1" max="4999"/>
        
         <div class="md-caption property-description">{{property.description}}</div>
         
    </md-input-container>

</script>



<script type="text/ng-template" id="property-boolean.html">
    
    <md-checkbox class="property boolean" ng-model="property.value">
        
        {{property.title}}
        <div class="md-caption property-description">{{property.description}}</div>
        
    </md-checkbox>

</script>



<script type="text/ng-template" id="property-date.html">
    
    <md-datepicker class="property date" ng-model="property.value" md-placeholder="{{property.title}}"></md-datepicker>
    
    <div class="md-caption property-description">{{property.description}}</div>
    
</script>



<md-sidenav class="md-sidenav-right Xmd-whiteframe-z2" 
            layout="column" 
            md-component-id="properties" 
            md-is-locked-open="$mdMedia('gt-sm')&&cntrl.isDocked('properties')">

    <md-tabs md-dynamic-height md-border-bottom>

        <md-tab label="properties">

            <div layout="column" layout-align="start" flex>

                <div layout="row" layout-align="space-around">

                    <md-button class="md-primary md-raised" 
                               flex="33" 
                               ng-disabled="!cntrl.isPropertiesDirty()" 
                               ng-click="cntrl.revertValues($event)">

                        <md-icon md-svg-icon="undo"></md-icon>
                        <md-tooltip>Revert values of properties to previous state</md-tooltip>
                        Revert

                    </md-button>

                    <md-button class="md-primary md-raised" 
                               flex="33" 
                               ng-disabled="!cntrl.isPropertiesDirty()" 
                               ng-click="cntrl.updateValues($event)">

                        <md-icon md-svg-icon="save"></md-icon>
                        <md-tooltip>Apply changes made to values of properties</md-tooltip>
                        Update

                    </md-button>

                    <!--<md-button ng-click="cntrl.check()" flex="20">Check</md-button>-->

                </div>

            </div>

            <md-item ng-repeat="property in [cntrl.getProperties()]" ng-include="'property-selector.html'"></md-item>

        </md-tab>

        <md-tab label="BRD">

            <div class="highlightable" layout="column" ng-include="'writer-part/writer.html'"></div>

        </md-tab>

        <md-tab label="JSON">

            <p>JSON for the selected {{selected.type}}:</p>

            <pre class="highlightable">{{selected.item | json:4 }}</pre>

        </md-tab>

    </md-tabs>

</md-sidenav>