/*md-sidenav.md-sidenav-right,
md-sidenav.md-sidenav-right.md-locked-open,
md-sidenav.md-sidenav-right.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
}*/

table.properties {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table.properties table {
    border-collapse: collapse;
}

table.properties tr.ng-enter {
    -webkit-transition: all 0.6s ease-in-out 0.6s;
    -moz-transition: all 0.6s ease-in-out 0.6s;
    -o-transition: all 0.6s ease-in-out 0.6s;
    transition: all 0.6s ease-in-out 0.6s;
}

table.properties tr.ng-leave {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

table.properties tr.ng-enter {
    opacity: 0;
}

table.properties tr.ng-enter.ng-enter-active {
    opacity: 1;
}

table.properties tr.ng-leave {
    opacity: 1;
    text-decoration: line-through;
}

table.properties tr.ng-leave.ng-leave-active {
    opacity: 0;
}

table.properties th {
    text-align: center;
    font-family: "Segoe UI Light";
    padding: 6px;
    border-top: 0px solid #888888;
    border-bottom: 1px solid #888888;
    /*background-color: #d8dbdd;*/
}

table.properties th:nth-child(1) {
    width: 40%;
}

table.properties th:nth-child(2) {
    width: 60%;
    border-left: 0px solid #ffffff;
}

table.properties td {
    font-size: 92%;
    vertical-align: top;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(230, 230, 230, 0.25);
    border-bottom: 3px solid #ffffff;
}

table.properties td:nth-child(1):not([colspan="2"]) {
    width: 40%;
    text-align: right;
    padding-right: 3px;
    font-family: "Segoe UI";
}

table.properties td:nth-child(2) {
    width: 60%;
    text-align: left;
    padding-left: 3px;
    font-family: "Segoe UI";
    border-left: 0px solid #ddd;
}

table.properties td:nth-child(1):not([colspan="2"]) label::after {
    content: "";
}

table.properties td:nth-child(1) .mandatory {
    font-family: "Segoe UI Semibold";
    /*color: #992222;*/
}

table.properties td:nth-child(2) input {
    width: 98%;
    text-align: left;
    margin: 0px;
}

table.properties td:nth-child(2) label {
    display: block;
    cursor: pointer;
}

table.properties td:nth-child(2) input[type="checkbox"],
table.properties td:nth-child(2) input[type="radio"] {
    width: 14px;
    margin-top: 4px;
    display: inline-block;
}

table.properties td:nth-child(2) input[type="checkbox"] + div,
table.properties td:nth-child(2) input[type="radio"] + div {
    width: 85%;
    color: #555555;
    vertical-align: top;
    display: inline-block;
}

table.properties td:nth-child(2) input[type="checkbox"]:checked + div,
table.properties td:nth-child(2) input[type="radio"]:checked + div {
    color: rgb(0, 115, 200);
}

table.properties td:nth-child(2) textarea,
table.properties td:nth-child(2) input[type="text"],
table.properties td:nth-child(2) input[type="number"] {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    color: rgb(0, 100, 180);
    resize: none;
    width: 96%;
    min-height: 18px;
    padding-left: 2px;
    border: 1px solid #dddddd;
}

table.properties td:nth-child(2) .ng-invalid {
    box-shadow: 0 0 6px rgba(200, 30, 30, 0.5);
    border: 1px solid rgba(200, 30, 30, 0.5);
}

table.properties td:nth-child(2) .ng-invalid + div {
    /*border: 1px solid #992222;*/
    color: red;
}

table.properties td:nth-child(2) .messages div {
    margin: 0px;
    font-size: 80%;
    color: rgba(200, 30, 30, 1);
}

.ng-valid {}

.ng-pristine {}

.ng-dirty {}

.ng-touched {}

.ng-untouched {}

.ng-pending {}

.messages div {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.messages .ng-enter {
    opacity: 0;
}

.messages .ng-enter.ng-enter-active {
    opacity: 1;
}

.messages .ng-leave {
    opacity: 1;
}

.messages .ng-leave.ng-leave-active {
    opacity: 0;
}