/*md-sidenav.md-sidenav-right,
md-sidenav.md-sidenav-right.md-locked-open,
md-sidenav.md-sidenav-right.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
}*/

md-input-container:not(.md-input-invalid).md-input-has-value .md-input {
    border-color: rgb(122, 148, 14);
}

md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: rgb(122, 148, 14);
}

.attribute-group,
.attribute-string,
.attribute-number,
.attribute-boolean,
.attribute-choice,
.attribute-date {
    /*    border: 2px solid rgba(0, 155, 255, 0.6);*/
}

.attribute-group {
    margin-left: 15px;
}

.attribute-description {
    width:100%;
    color: grey;
    font-size: 12px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.attribute-description.ng-hide,
.attribute-description.ng-enter,
.attribute-description.ng-leave.ng-leave-active {
    opacity: 0;
}

.attribute-description.ng-leave,
.attribute-description.ng-enter.ng-enter-active {
    opacity: 1;
}