<script type="text/ng-template" id="setting-group.html">
    
    <md-list class="setting group"
             layout="column" 
             layout-align="start start" >
        
        <div class="md-subhead">{{setting.title}}</div>
        <p>{{setting.description}}</p>
        
        <div layout="column">
            
            <md-item ng-repeat="setting in (setting.type==='object'?setting.properties:setting.items)" 
                     ng-include="'setting-'+(setting.type==='object'||setting.type==='array'?'group':(setting.enum!==undefined?'choice':(setting.format==='date-time'?'date':setting.type)))+'.html'">
                
            </md-item>
            
        </div>
        
    </md-list>
    
</script>



<script type="text/ng-template" id="setting-string.html">
     
    <md-input-container class="md-block setting string">
         
        <label>{{setting.title}}</label>
        
        <input required ng-model="setting.value" md-maxlength="{{setting.maxLength}}" />
        
        <div class="setting-description">{{setting.description}}</div>
         
    </md-input-container>

</script>



<script type="text/ng-template" id="setting-choice.html">
     
    <md-input-container class="md-block setting choice">
         
        <label>{{setting.title}}</label>
        
        <md-select ng-model="setting.value" ng-if="setting.enum!==undefined">
            
            <md-option ng-repeat="option in setting.enum" value="{{option}}">
            {{option}}
            </md-option>
            
        </md-select>
        
        <div class="setting-description">{{setting.description}}</div>
         
    </md-input-container>

</script>



<script type="text/ng-template" id="setting-number.html">
     
    <md-input-container class="md-block setting number">
         
         <label>{{setting.title}}</label>
        
         <input type="number" ng-model="setting.value" step="any" min="1" max="4999"/>
        
         <div class="setting-description">{{setting.description}}</div>
         
    </md-input-container>

</script>



<script type="text/ng-template" id="setting-boolean.html">
    
    <md-checkbox class="setting boolean" ng-model="setting.value">
        
        {{setting.title}}
        <div class="setting-description">{{setting.description}}</div>
        
    </md-checkbox>

</script>



<script type="text/ng-template" id="setting-date.html">
    
    <md-datepicker class="setting date" ng-model="setting.value" md-placeholder="{{setting.title}}"></md-datepicker>
    
    <div class="setting-description">{{setting.description}}</div>
    
</script>



<md-sidenav class="md-sidenav-right Xmd-whiteframe-z2" 
            layout="column" 
            md-component-id="settings" 
            md-is-locked-open="$mdMedia('gt-sm')">
    
    <md-tabs md-dynamic-height md-border-bottom>
    
        <md-tab label="Settings">
            
            <div ng-controller="settingsController as cntrl">
                
                <div layout="column" layout-align="start" flex>
                    
                    <div layout="row" layout-align="space-around">
                        
                        <md-button class="md-primary md-raised" 
                                   flex="30" 
                                   ng-disabled="!cntrl.settings.isDirty()" 
                                   ng-click="cntrl.updateValues($event)">
                            Update
                        </md-button>

                        <md-button class="md-primary md-raised" 
                                   flex="30" 
                                   ng-disabled="!cntrl.settings.isDirty()" 
                                   ng-click="cntrl.revertValues($event)">
                            Revert
                        </md-button>

                        <md-button ng-click="cntrl.check()" flex="20">Check</md-button>
                        
                    </div>
                    
                </div>
                
                <p>{{settings | json }}</p>
                
                <md-item ng-repeat="setting in [cntrl.settings.get()]" 
                         ng-include="'setting-group.html'">
                    
                </md-item>
                
            </div>
            
        </md-tab>
        
        <md-tab label="BRD">
            
            <div layout="column" ng-include="'writer-part/writer.html'"></div>
            
        </md-tab>
        
        <md-tab label="JSON">
            
            <p>JSON for the selected {{selected.type}}:</p>
            
            <pre>{{selected.item | json:2 }}</pre>
            
        </md-tab>
        
    </md-tabs>
    
</md-sidenav>